// Import reset
@import "reset";
// Import colors
@import "colors";
// Type styles
@import "type";

// Main typefaces
body {
    background: $cWhite;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;

    * {
        -moz-font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
    }
}

// Header
header {
    border-bottom: 1px solid $cGrayBorder;
    margin: 0 auto 30px;
    max-width: 700px;
    padding: 20px 20px 10px 20px;
    width: 100%;

    .site-title {
        display: inline-block;

        h3 {
            border: 2px solid $cGrayDark;
            font-size: 18px;
            letter-spacing: 3px;
            margin-bottom: 12px;
            padding: 0 10px;

            &:before {
                content:'Magic Frying Pan';

                @media(max-width: 600px) {
                    content:'MFP';
                }
            }
        }

    }

    nav {
        float: right;
        margin-top: 3px;

        a,a:visited {
            color: $cVisited;
            display: inline-block;
            font-weight: bold;
            margin: 0 10px;
            transition: .3s ease;

            &:hover {
                color: $cGrayDark;
            }
        }

    }
}

// iFrames
.video {
    min-height: 320px;
    width: 100%;
}

// Content wrapper
.content-wrapper {
    display: block;
    margin: 0 auto;
    position: relative;

}

// Post Holder
.post-holder {
    display: block;
    height: 500px;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 0 0 20px;
    position: relative;
    width: 100%;

    @media(max-width:600px) {
        height: 350px;
    }

    hr {
        background: $cBlack;
        border: 0;
        height: 5px;
        width: 50px;
    }

    // Color palette
    .color-palette {
        border-radius: 9999px;
        bottom: 0;
        height: 400px;
        position: absolute;
        right: 0;
        transition: width .3s ease;
        width: 400px;

        @media(max-width:600px) {
            height: 200px;
            width: 200px;
        }

        &#blue {
            background: $cBlue;
        }

        &#yellow {
            background: $cYellow;
        }

        &#red {
            background: $cRed;
        }

    }

    // Post title
    .post-title {
        bottom: 20px;
        color: $cGrayDark;
        font-size: 50px;
        left: 0;
        letter-spacing: -1px;
        line-height: 75px;
        margin: 0;
        padding: 0 20px;
        position: absolute;
        width: 100%;
        width: auto;
        z-index: 2;

        @media(max-width: 600px) {
            font-size: 30px;
            line-height: 40px;
        }

        span {
            display: block;
            font-size: 15px;
            font-weight: 100;
            letter-spacing: 3px;
            line-height: 40px;
            margin-left: 3px;
            text-transform: uppercase;
        }
    }
}

// Post container & items
.post-container {
    background: $cWhite;
    clear: both;
    display: block;
    padding: 0 20px;

    @media(max-width: 700px) {
        padding: 0;
    }

    .post-item {
        display: block;
        margin: 0 auto;
        max-width: 700px;
        padding: 20px;
        position: relative;

        @media(max-width: 700px) {
            padding: 30px 15px 0;
        }

        h2 {
            margin: 40px 0;
        }

        // Paragraphs
        p {

            // Links
            a,a:visited {
                text-decoration: underline;
            }

        }

    }

}

// Disqus
#disqus_thread {
    margin-top: 30px;
}

// Footer
footer {
    border-top: 1px solid $cGrayBorder;
    display: block;
    font-size: 14px;
    margin: 10px auto 0;
    max-width: 700px;
    text-align: center;
    width: 100%;

    @media(max-width: 600px) {
        margin: 20px auto 0;
    }

    a {
        text-decoration: underline;
    }

}
