// Colors
$cWhite : #ffffff;
$cBlack: #000000;
$cGray  : #ecf0f1;
$cGrayDark : rgba(0,0,0,0.9);
$cGrayBorder: #dddddd;
$cVisited : #9A9797;
$cPurple: #8e44ad;
$cBlue: #9CE5DF;
$cYellow: #eed974;
$cRed: #F87D5A;