<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="content-wrapper">

      <div class="post-holder">
        <div class="color-palette" id="{{ post.color }}"></div>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="clearfix"></div>
      </div>

      <div class="post-container">

        <div class="post-item">

          <article class="post-content">
            {{ content }}
          </article>

        </div><!-- End Post Item -->

      </div><!-- End Post Container -->

    {% include footer.html %}

    </div><!-- End Content Wrapper -->

  </body>

  {% include analytics.html %}

</html>
